<form ngForm="myform" #myform class="col-md-12 row">
    <div class="col-md-12">
        <div class="col-md-6">
            <label class="col-md-12 padding-zero">First Name <i class="color-red">*</i></label>
            <input type="text" [(ngModel)]="user.first_name" name="first_name" required>
        </div>        
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <label class="col-md-12 padding-zero">Last Name <i class="color-red">*</i></label>
            <input type="text" [(ngModel)]="user.last_name" name="last_name" required>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <label class="col-md-12 padding-zero">Email <i class="color-red">*</i></label>
            <input type="email" [(ngModel)]="user.email" name="email" required>
        </div>
        <div class="col-md-6">
            <label class="col-md-12 padding-zero">Number <i class="color-red">*</i></label>
            <input type="number" [(ngModel)]="user.phone" name="phone" required>
        </div>
    </div>
    <div class="col-md-12 m-t-10px">
        <div class="col-md-12">
            <button type="button" (click)="saveUser()" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>